
  body{
    background-color: #aaa9a9;
    font-family: Sans-serif;
    .container {  display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        grid-row-gap: 10px;
        
    }
    @media screen and (max-width: 750px){
      .container{
        width: fit-content;
      }
    }
  }