.pie{
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    background-color:#212529 ;
    display: inline-flex;
    justify-content: space-between;
    

    .img-footer{
    
        margin-left:20px ;

    }
    .contacto{
    
            color: white;
            list-style:none;
            
        }

        .datos-contacto{
            list-style:none;
            margin: 10px;
           padding-top: 50px;
        }
    
    

}
@media screen and ( max-width:1000px){

        .pie{
            display: inline-block ;
            


            .img-footer{
                display: flex;
                justify-content: center;
                  

                 }
                .contacto{
                    width: 60%;
                    display: flex;
                    
                    margin: auto;
                    
                   .datos-contacto{
                        
                     
                        font-size: 1rem;
                        margin: auto;
                        
                    
                    
                }
               
         }

    }
}
    @media screen and ( max-width:650px){
        .contacto{
           padding-top: 10px;
            ul{
                width: 100%;
            }
        }
    }
   
   