*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #aaa9a9;
}

.container {  display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    
  }
  .header-grid{
      grid-column: 1/15;
  }

/* INDEX */




.index-titulo{
    grid-column: 1/13;
    
}
/* IFRAMES */
.iframes{
    grid-column: 1/13;
}
.frames{
background-color: white;
display: inline-table;
width: 100%;
justify-content: center;
}

.videos-index{
padding: 50px;
width: 400px;
height: 300px;
}

/* masoneria */
#titulo-masoneria{
    background-color:#08141b ;
    color: white;
    text-align: center;
}

.texto-masoneria{
    grid-column: 1/13;
    border: rgb(82, 77, 77) solid 3px;
    border-radius: 10px;
    
}
.requisitos{
    grid-column: 1/13;
    padding: 20px;
    background-color:white;
    border-radius: 3px;
    margin-bottom:10px ;
}
.requisitos-textos{
    display: inline-flex;
    border: #4b505348 solid 3px;
    border-radius: 3px;
}

.textos-requisitos{
    padding: 90px 50px;
    
}
.img-requisitos{
    border-radius: 3px;
    width: 100%;
}




.carousel-logia{
      grid-column: 1/13;
      border: rgb(82, 77, 77) solid 3px;
      border-radius:10px ;
      
  }
  .img-carrousel{
      height: 800px;
  }
.encontranos{
      grid-column: 1/13;
      
      background-color: rgb(165, 156, 156);
      border: rgb(82, 77, 77) solid 3px;
      border-radius: 10px;
      text-align: center;
 
   }
   .acordeon{
    grid-column: 1/13;
    padding-top: 50px;
    padding-bottom: 50px;
   }
   p{
       padding: 10px;
   }
   /* formulario */

   .formulario{
       
      
       grid-column: 1/13;
    border-radius: 2px;
    border: #202122 solid 3px;
    margin: 50px;
}


   .titulo-formulario{
       border-radius: 2px;
       border-bottom: #202122 solid 3px;
       color:white;
       background-color: #4b5053;
       text-align: center;
       
       padding-top: 25px;
       height: 100px;
   }

 .inputs{
    padding: 20px 50px;
  
    
    grid-auto-rows: auto;
    background-color: rgb(221, 220, 220);
}    
label{
    padding: 20px 0px 0px 0px ;
}  
.input-tamaño{
    width: 100%;
    border: #8285868f solid 1px;
    border-radius: 3px;
    height:40px ;
    
}
.edad{
    width: 50px !important;
}
.motivo{
    height: 200px;
}



/* footer */
.pie{
   
    width: 100%;
    height: 100%;
    background-color:#212529 ;
    display: inline-flex;
    justify-content: space-between;
    
}
.img-footer{
    
    padding: 20px 100px;
}
.contacto{
    
    color: white;
    
    padding: 70px 100px;
}
#gmail{
    color: rgb(255, 255, 255);
}
ul li {
    list-style:none;
    margin: 10px;
}



/* mediaqueris */

@media screen and ( max-width:1200px) {
    

    .requisitos-textos{
    display: block;
    }
    .img-carrousel{
        height: 650px;
    }
}

@media screen and ( max-width:1000px){
    .img-carrousel{
        height: 500px;
    }
}
@media screen and ( max-width:800px){
    .img-carrousel{
        height: 400px;
    }
}