.container{
    .main-compañeros{
        grid-column: 1/13;
        padding: 50px;

        .argentina{
    
       
            @extend %textos;
            font-size: 1.1rem;
            

            .titulo-compañeros{
                text-align: center;
            }
           
        }
       
        
    }
}