.index-titulo{
    grid-column: 1/13;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;

    
    #titulo{
        text-align: center;
        background-color: transparent;
        font-size: 1.5rem;
        
    }


}

.iframes-container{
    grid-column: 1/13;
    display: inline-flex;
    @include bg-color;
    
    margin: auto;

    .iframes-items{
        padding: 25px;
        
         .img-iframes{
            width:357 ;
            height:201;
         }
     }

     
    
}
.container{
    .apartado-card{
        grid-column: 1/13;
       
       padding: 20px;
       
        .card{
            padding: 20px;
            display: inline-flex;
            width: 400px;
            
            justify-content: center;
            
                .items-card{
                    width: 100%;
                    padding: 20px;
                    height:500px;
                    .titulos-card{
                        text-align: center;
                    }
                
                }
                .img-card{
                    border: black solid 3px;
                    border-radius: 5px;
                    
                }
                #img-scout{
                    height: 207px;
                }
        }
        
        @media screen and (max-width:1400px ){
            .card{
                display: block;
                width: 100%;
                margin-top: 20px;
                
                .items-card{

                    height: max-content;

                    
                }
                #img-scout{
                    height: 100%;
                }
            }
        }



    }
}
 /* mediaqueris */
    @media screen and ( max-width:1400px){
    .iframes-container{
        display:block;
       

        .iframes-items{
        width: 100%;
        display: block;
        justify-content: center;
            .iframes{
                display: flex;
                justify-content: center;
            }

         .iframes-textos{
                    
                  max-width: 500px;  
                    
                }

             }

        }
    
    }  