.index-titulo{
    grid-column: 1/13;
    padding: 50px;
    font-size: 1.2rem;


    #titulo{
        text-align: center;
    }


}

.iframes-container{
    grid-column: 1/13;
    display: inline-flex;
    background-color:white ;

    

    .iframes-items{
        padding: 25px;
        
         
     }

     
    
}
.container{
    .apartado-card{
        grid-column: 1/13;
       
       padding: 25px;
       
        .card{
            padding: 20px;
            display: inline-flex;
            width: 400px;
            
            justify-content: center;
            
                .items-card{
                    width: 100%;
                    padding: 20px;
                    height:500px;
                    .titulos-card{
                        text-align: center;
                    }
                
                }
                .img-card{
                    border: black solid 3px;
                    border-radius: 5px;
                    
                }
                #img-scout{
                    height: 207px;
                }
        }
        
        @media screen and (max-width:1400px ){
            .card{
                display: block;
                width: 100%;
                margin-top: 20px;
                
                .items-card{

                    height: max-content;

                    
                }
                #img-scout{
                    height: 100%;
                }
            }
        }



    }
}
 /* mediaqueris */
    @media screen and ( max-width:1400px){
    .iframes-container{
        display:block;
       

        .iframes-items{
        width: 100%;
        
            .iframes{
                display: flex;
                justify-content: center;
            }

         .iframes-textos{
                    text-align: center;
                    width: 100%;
                   
                    
                }

             }

        }
    
    }  