.container{

    .explicacion-form{
        grid-column: 1/13; 
        display: inline-flex;
        background-color: rgba(255, 255, 255, 0.479);
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: #2021224b solid 3px;

            .textos-explicacion{
               padding: 20px;
               margin-top: 20px;


                #titulo-explicacion{
                    color: #6b0707;
                }
                #titulo-explicacion-1{
                    color: #4b5053;
                }
            }

            .img-explicacion{
               width: 1200px;
               height: auto;
               overflow: hidden;
               border:#2021224b solid 3px ;
               border-radius: 3px;
            }
    }
    @media screen and ( max-width:1200px){
        .explicacion-form{
            display: inline-block;
            .img-explicacion{
                width: 100%;
            }
        }
    }




    
    .formulario{
            grid-column: 1/13;
        border-radius: 2px;
        border: #202122 solid 3px;
        margin: 0px;
        margin-bottom: 20px;
        


        .titulo-formulario{
            border-radius: 2px;
            border-bottom: #202122 solid 3px;
            color:white;
            background-color: #4b5053;
            text-align: center;
            
            padding-top: 25px;
            height: 100px;
        }
       

        .inputs{
            padding: 0px 1rem;
            
            
            grid-auto-rows: auto;
            background-color: #acb1b4;
            width: 100%;
            height: 100%;
            padding-bottom: 10px;
            label{
                padding: 20px 0px 0px 0px ;
            }  
            .input-tamaño{
                width: 100%;
                border: #8285868f solid 1px;
                border-radius: 3px;
                height:40px ;
                @include bg-color;
                
            }
            .edad{
                width: 50px !important;
            }
            .motivo{
                height: 200px;
            }
        } 
      
     }
}