.container{

    .texto-masoneria{
        grid-column: 1/13;
        border: rgb(82, 77, 77) solid 3px;
        border-radius: 10px;
        font-size: 1.2rem;
        background-color: rgba(250, 250, 250, 0.527);
        #titulo-masoneria{
            background-color:#08141b ;
            color: white;
            text-align: center;
        }
    }

    .carousel-logia{
        grid-column: 1/13;
        border: rgb(82, 77, 77) solid 3px;
        border-radius:10px ;
        
        .img-carrousel{
            height: 800px;
        }
        @media screen and ( max-width:1200px){

            .img-carrousel{
                height: 650px;
            }
        }
        @media screen and ( max-width:800px){
            .img-carrousel{
                height: 400px;
            }
        }
    }


    

   
    .requisitos{
        grid-column: 1/13;
        width: 100%;
        padding: 20px;
        background-color:rgba(25, 23, 39, 0.315);
        border-radius: 3px;
        margin-bottom:10px ;

        .requisitos-items{
            display: inline-flex;
            border: #4b505360 solid 3px;
            border-radius: 3px;
           
           .textos-requisitos{
               font-size: 1.2rem;
           }
           .img-requisitos{
            width: 70%;
            height: 100%;
         }

        }
        @media screen and ( max-width:1200px){


            .requisitos-items{
                display: block;
        
                .img-requisitos{
                    width: 100%;
                   
                 }
        
                 .textos-requisitos{
                    
                    font-size: 1.2rem;
                }
                @media screen and ( max-width:800px){
                .textos-requisitos{
    
                    font-size: 1rem;
                 }
                }
            }
        }
    }
    
    .simbolos{
       grid-column: 1/13;
    }
}

@media screen and ( max-width:800px){
    .img-carrousel{
        height: 400px;
    }
}
.simbolos{
    grid-column: 1/13;
    width: 100%;
    padding: 20px;
   @include bg-color();
    border: #4b505360 solid 1px;
    border-radius: 3px;
    margin-bottom:10px ;


    #img-simbolo{
        border-radius: 3px;
        border: #4b505360 solid 3px;
    }
}

// mixin
