

.container{
    
    .main-compañeros{
        grid-column: 1/13;
       
        .lcom{
            border-radius: 3px;
            margin-top: 20px;
                 @extend %textos;
            font-size: 1.2rem;
            
               .img-f{
               display: flex;
               width: 80%;
               height: auto;
               margin: auto;

               
               
            }
           

            .titulo-compañeros{
                text-align: center;
            }
           
        }
        
    }
}
 @media screen and (max-width: 750px){
        .container{
           
                grid-column: none;
                .main-compañeros{
                  
                    box-sizing: content-box;
                   width: 100%;
                   
                   .img-f{
                       width: 100%;
                   
                   }
                    .lcom{
                      font-size: 1rem;  
                      box-sizing: border-box;
                      width:100%;
                     
                      

                         .titulo-compañeros{
                            text-align: center;
                            font-size: 1.1;
                        } 
                        

                     }
                     .lcom p {
                        font-size: 1.1rem; 
                     }
                 }
         }
    }
