.container{
    .main-compañeros{
        grid-column: 1/13;
        padding: 50px;

        .compañeros{
    
       
            background-color: white;
            padding: 20px;
            padding: 10px 70px;

            .titulo-compañeros{
                text-align: center;
            }
        }

        .compañeros p {
            max-width: 1000px;
        }
    }
}