

.container{
    .main-compañeros{
        grid-column: 1/13;
        padding: 50px;

        .compañeros{
    
       
            @extend %textos;
            font-size: 1.2rem;

            .titulo-compañeros{
                text-align: center;
            }
           
        }
        
    }
}
 @media screen and (max-width: 750px){
        .container{
                width: 100%;


                .main-compañeros{
                   display: grid none;
                   width: 100%;
            
                    .compañeros{
                      font-size: 1.1rem;  
                      padding: none;
                      width: 300px;
                      margin: none;
                      

                         .titulo-compañeros{
                            text-align: center;
                            font-size: 1.2;
                        } 
                        

                     }
                     .compañeros p {
                        font-size: 1.1rem; 
                     }
                 }
         }
    }
